<div class="span10">
  <div id="editor" class="borderer">
    <div class="placeholder borderer"><span>Перетащите сюда фотографию</span></div>
  </div>
</div>

<script type="text/javascript">
  var existing_item_collection = new ItemCollection
  existing_item_collection.setPostId('<%=post.id%>')
  <% if post.post_items.present? %>
    <% post.post_items.asc(:pos).each do |a| %>
      existing_item_collection.unshift(new Item(<%= raw a.to_json%>))
    <% end %>
  <% end %>
</script>
