<span class="label label-warning">популярные места</span>
<div class="popular-table">
  <table class="table table-condensed">
    <tr>
      <td><a href="#">Рим, Италия</a><span class="total">1</span></td>
      <td><a href="#">Прага, Чехия</a><span class="total">5</span></td>
      <td><a href="#">Венеция, Италия</a><span class="total">10</span></td>
      <td><a href="#">Таллин, Эстония</a></td>
      <td><a href="#">Стамбул, Турция</a></td>
      <td><a href="#">Андорра, Андорра</a></td>
      <td><a href="#">Мальта, Мальта</a></td>
      <td><a href="#">Осло, Норвегия</a></td>
    </tr>
    <tr>
      <td><a href="#">Денвер, США</a></td>
      <td><a href="#">Малага, Испания</a></td>
      <td><a href="#">Ницца, Франция</a></td>
      <td><a href="#">Токио, Япония</a></td>
      <td><a href="#">Мальдивские острова </a></td>
      <td><a href="#">Лондон, Великобритания</a></td>
      <td><a href="#">Москва, Россия</a></td>
      <td><a href="#">Рига, Латвия</a></td>
    </tr>

  </table>
</div>