<div class="country-city">
  <div class="span6"> 
    <div class="m-input-prepend">
      <span class="add-on"><%= text %></span>
      <input type="text" class="place-field m-wrap" name="place_ids" autocomplete="off">
    </div>
  </div>
  <% if defined? show_ok %>
    <div class="span2">
      <button class="m-btn green" type="submit">Поехали</button>            
    </div>
  <% end %>
</div>