<div class="country-city">
  <div class="span6"> 
    <div class="m-input-prepend">
      <span class="add-on">страна</span>
      <input type="text" class="place-field m-wrap" name="place_ids" autocomplete="off">
    </div>

  </div>
  <div class="span2">
    <button class="m-btn green" type="submit">Поехали</button>            
  </div>  
</div>
