<div class="span2">
  <div id="uploaded-assets" data-spy="affix">
    <div class="title"><p>Загруженные</p></div>
    <div class="asset-container"></div>
  </div>
  <script type="text/javascript">
    var existing_asset_collection = new AssetCollection
    <% if post.asset_collection.present? %>
      <% post.asset_collection.assets.each do |a| %>
        existing_asset_collection.unshift(new Asset(<%= raw a.to_json(:methods =>[:image])%>))
      <% end %>
    <% end %>
  </script>
</div>