<% content_for :header_content do %>
  <div class='span2 fox_logo'></div>
  <div class="span10">
    <div class="row">
      <div class="span10 top_line">
        <%= render :partial => "top_line"%>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <div class="row">
          <div class="span4 logo_text">
            <div class="moto">
              <p class="pull-right"><small><i>Поделись своими впечатлениями</i></small></p>
            </div>
          </div>
          <div class="span6 search-reviews">
            <%= render :partial => "search_reviews"%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12 popular">
    <%= render :partial => "/elements/popular"%>
  </div>
</div>
<div class="row">
  <div class="span12 trips-main">
    <%= render :partial => "trips_main"%>
  </div>
</div>