<% content_for :header_content do %>
  <%= render :partial => "/shared/header_content"%>
<% end %>

<div class="row">
  <div class="span12 trips-main">
    <%= render :partial => "trips_main"%>
  </div>
</div>