<div class="post-opts" post-id=<%=@post[:_id]%>></div>
<div class="hero">
  <div class="lead">
    <input type="text" class="m-wrap post-title" value="<%=@post[:title]%>"/><button class="m-btn green red post-title-button">OK</button>
  </div>
</div>