<div class="m-btn-group privacy-opts">
  <a class="m-btn mini blue dropdown-toggle" data-toggle="dropdown">личные фото&nbsp;<span class="caret white"></span></a>
  <ul class="m-dropdown-menu">
    <li><a href="#" privacy-switch="">Все</a></li>
    <li class="divider"></li>
    <li><a href="#" privacy-switch="private">Только личные</a></li>
    <li><a href="#" privacy-switch="public">Только публичные</a></li>
  </ul>
</div>
