<div class="share-buttons">
  <div class="m-btn-strip">
    <div class="m-btn-group">
      <a class="m-btn mini blue dropdown-toggle" data-toggle="dropdown">коды расшарки&nbsp;<span class="caret white"></span></a>
      <ul class="m-dropdown-menu">
        <li><a href="#">BBCode для форумов</a></li>
        <li><a href="#">HTML для форумов</a></li>
      </ul>
    </div>
  </div>
</div>