<div class="m-btn-group share-opts">
  <a class="m-btn mini blue dropdown-toggle" data-toggle="dropdown">коды расшарки&nbsp;<span class="caret white"></span></a>
  <ul class="m-dropdown-menu">
    <li><a href="#" share-switch="bbcode">BBCode для форумов</a></li>
    <li><a href="#" share-switch="html_item">HTML для каждой фото</a></li>
    <li><a href="#" share-switch="html_post">HTML для сайтов</a></li>
    <li><a href="#" share-switch="">Просмотр</a></li>
  </ul>
</div>
