<div class="viewport">
  <div class="span4 zoom">
    <div class="m-btn-strip">
      <div class="m-btn-group">
        <a href="#" image-size="small" viewport-class="zoom" class="m-btn mini blue-stripe"><i class="icon-zoom-in"></i>&nbsp;уменьшить</a>
        <a href="#" image-size="big" viewport-class="zoom" class="m-btn mini blue-stripe"><i class="icon-zoom-in"></i>&nbsp;увеличить</a>
        <!-- <a href="#" viewport-class="fullscreen" class="btn btn-mini full-screen-toggle"><i class="icon-eye-open"></i>&nbsp;полный экран</a> -->                    
      </div>
    </div>
  </div>
  <div class="span4">
  
  </div>
  <div class="span2">
    <span class="pull-right">
      <a href="#" class="m-btn green mini" id="save_post"><i class="icon-ok icon-white"></i>&nbsp;сохранить</a>  
    </span>
  
  </div>
</div>