<% content_for :header_content do %>
  <div class='span2 fox_logo'></div>
  <div class="row">
    <div class="span10 top_line">
      <%= render :partial => "top_line"%>
    </div>
    <div class="row">
    </div>
  </div>
<% end %>
<div class="row">
  <div class="span9">
    <% @post.post_items.each do |pi| %>
      <div class="item-block">
        <div class="image">
          <% if pi.asset.present? %>
            <img class="lazy" src="<%=pi.asset.image.view_low.url%>" data-original="<%=pi.asset.image.view.url%>">
          <% end %>
        </div>
        <% if pi.text.present? %>
          <div class="text dropdown">
            <span><%=pi.text%></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="span3"></div>
</div>