<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h3>вход на сайт</h3>
</div>
<div class="modal-body">
  
  <div class="row">    
    <div class="span3">
      <h4>Вход</h4>
      <form method="post" action='' name="login_form">
        <span><input type="text" class="span3" name="eid" id="email" placeholder="email"></span>
        <span><input type="password" class="span3" name="passwd" placeholder="пароль"></span>
        <span><label for="checkbox" class="checkbox"><input type="checkbox" name="remember"> запомнить</label></span>
        <span><button type="submit" class="btn btn-primary">Войти</button>
          <a href="#">Забыл пароль?</a>
        </span>
      </form>  
    </div>
    
    <div class="span3 well">
      <h4>Регистрация</h4>
      <form method="post" action='' name="login_form">
        <p><input type="text" class="span3" name="eid" id="email" placeholder="email"></p>
        <p><input type="password" class="span3" name="passwd" placeholder="пароль"></p>
        <p><input type="password" class="span3" name="passwd2" placeholder="пароль еще раз"></p>
        <p><button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </p>
      </form>  

    </div>
  </div>
</div>